body {
    text-align: center;
}

#contenedor {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 360px;
    height: max-content;
    font-size: 0;
}

.bloque {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 0.5px solid #000;
}